@using HotelAdvice.Areas.WebSite.ViewModels;
@model ReviewViewModel
@{
    Layout = null;
}


<div class="col-xs-12 nopadding top-buffer20">
    <div class="alert alert-success" role="alert" id="review_alert" style="display:none;">
        <a href="#" id="close_alert_review" class="close">&times;</a>
        Thank you! Your review saved successfully.
    </div>
</div>

@using (Ajax.BeginForm("Add_Review", "User", new AjaxOptions { 
    HttpMethod="Post",
    InsertionMode=InsertionMode.Replace,
    UpdateTargetId="div_add_review",
    OnSuccess="Success_ADDReview"
})) { 
    @Html.AntiForgeryToken()
<div class="col-xs-12 nopadding">
 

    <div class="panel panel-info nopadding" id="pnl_write_review" style="display:none">

        <div class="panel-heading">
            <i class="fa fa-pencil-square-o fa-blue fa-lg"></i> Write or Edit Your Review
            <button type="button" aria-hidden="true" class="close" id="btn_close_review">×</button>
        </div>
        <div class="panel-body nopadding_left">
           
            <div class="col-xs-12">
                <div class=" col-xs-12 text-primary">@Html.LabelFor(model => model.reviewTitle)</div>
                <div class="col-xs-12">
                    @Html.HiddenFor(model => model.RateId)
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model=>model.HotelId)
                    @Html.TextBoxFor(model => model.reviewTitle, new { @class = "form-control", placeholder = "Review Title..." })
                </div>
            </div>

            <div class="col-xs-12 top-buffer20">
                <div class="col-xs-12 text-primary"><i class="fa fa-plus-circle fa-lg"></i> @Html.LabelFor(model => model.reviewPros)</div>
                <div class="col-xs-12">
                    @Html.TextAreaFor(model => model.reviewPros, new { @class = "form-control", placeholder = "Positive Aspects...", style = "min-height:100px" })
                </div>
            </div>

            <div class="col-xs-12 top-buffer20">
                <div class="col-xs-12 text-primary"><i class="fa fa-minus-circle fa-lg"></i> @Html.LabelFor(model => model.reviewCons)</div>
                <div class="col-xs-12">
                    @Html.TextAreaFor(model => model.reviewCons, new { @class = "form-control", placeholder = "Negative Aspects...", style = "min-height:100px" })
                </div>
            </div>
            <div class="col-xs-12 top-buffer10">
                <div class="col-xs-12 label label-primary" >
                    How do you overally rate this hotel?
                </div>
                <div class=" col-xs-12  text-center">
                        @Html.TextBoxFor(model => model.total_rating, new { @class = "YourRating-review" })
                </div>
           </div>
            <div class="col-xs-12 top-buffer10">
                <div class="label label-primary col-xs-12">
                    How do you rate hotel features?
                </div>
            </div>

            <div class="col-xs-12 ">
           
                <div class=" col-xs-4 top-buffer10 col-xs-offset-1">@Html.LabelFor(model => model.Cleanliness_rating, new { @class = "text-primary" })</div>
                <div class=" col-xs-7">
                    @Html.TextBoxFor(model => model.Cleanliness_rating, new { @class = "YourRating-review" })
                </div>


                <div class=" col-xs-4 top-buffer10 col-xs-offset-1">@Html.LabelFor(model => model.Comfort_rating, new { @class = "text-primary" })</div>
                <div class=" col-xs-7">
                        @Html.TextBoxFor(model => model.Comfort_rating, new { @class = "YourRating-review" })
                </div>

                <div class=" col-xs-4 top-buffer10 col-xs-offset-1">@Html.LabelFor(model => model.Location_rating, new { @class = "text-primary" })</div>
                <div class=" col-xs-7">
                    @Html.TextBoxFor(model => model.Location_rating, new { @class = "YourRating-review" })
                </div>

                <div class=" col-xs-4 top-buffer10 col-xs-offset-1">@Html.LabelFor(model => model.Facilities_rating, new { @class = "text-primary" })</div>

                <div class=" col-xs-7">
                    @Html.TextBoxFor(model => model.Facilities_rating, new { @class = "YourRating-review" })
                </div>

                <div class=" col-xs-4 top-buffer10 col-xs-offset-1">@Html.LabelFor(model => model.Staff_rating, new { @class = "text-primary" })</div>
                <div class=" col-xs-7">
                    @Html.TextBoxFor(model => model.Staff_rating, new { @class = "YourRating-review" })
                </div>

                <div class=" col-xs-4 top-buffer10 col-xs-offset-1">@Html.LabelFor(model => model.Value_for_money_rating, new { @class = "text-primary" })</div>
                <div class=" col-xs-7">
                    @Html.TextBoxFor(model => model.Value_for_money_rating, new { @class = "YourRating-review" })
                </div>

            </div>


            <div class="col-xs-12 top-buffer20 text-center ">
                <input type="submit" class="btn btn-primary" value="Submit Your Review" />
                </div>

            </div>
    </div>
</div>
}