@using HotelAdvice.Areas.WebSite.ViewModels;
@using PagedList;
@using PagedList.Mvc;
@model  IPagedList<ReviewListViewModel>
@{
    Layout = null;
}

@if (Model != null && Model.Count>0)
{
    <div class="col-xs-12 nopadding">

        @foreach (var item in Model)
        {
                <div class=" col-xs-2  text-center">
                    @item.UserFullName<br />@item.review_num reviews
                </div>
                 <div class="col-xs-10 nopadding ">
                     <div class="well well-reviewList">
                         <div class="col-xs-12 nopadding label label-review">
                             <h4 style="padding:0;"> @item.reviewTitle</h4>
                         </div>
                         <div class="col-xs-12 top-buffer10">
                             <div class="col-xs-10 nopadding">
                                 <div class="col-xs-4 nopadding">
                                     <b>Overal Rating:</b>
                                 </div>
                                 <div class="col-xs-8 nopadding">
                                     @Html.TextBox("txt_review_overal_rating", item.overal_rating, new { @class = "GuestRating" })
                                 </div>
                                 </div>
                                 <div class="col-xs-2 nopadding">
                                     <b>@item.reviewDate</b>
                                 </div>
                                 
                             </div>

                             <div class="col-xs-12 top-buffer20">
                                 <div class=" col-xs-1 nopadding">
                                     <i class="fa fa-plus-circle fa-lg"></i>
                                 </div>
                                 <div class="col-xs-11 nopadding">
                                     @item.reviewPros
                                 </div>
                             </div>

                             <div class="col-xs-12 top-buffer10">
                                 <div class="col-xs-1 nopadding">
                                     <i class="fa fa-minus-circle fa-lg"></i>
                                 </div>
                                 <div class="col-xs-11 nopadding">
                                     @item.reviewCons
                                 </div>
                             </div>
                         </div>
    </div>
        }
    </div>

        <div class="col-xs-12 text-center">
            @Html.PagedListPager(Model, page => Url.Action("Reviews", "User"
             , new RouteValueDictionary(){ {"page", page},{"id",Request["id"]}
             })
               , PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                new PagedListRenderOptions
                {
                    DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                    DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                    LinkToFirstPageFormat = "First",
                    LinkToLastPageFormat = "Last",
                    MaximumPageNumbersToDisplay = 3,
                    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                    EllipsesFormat = "&#8230;"
                },
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "table_review",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "Success_paging_Results"
                }))
        </div>

}
else
{
    <div class="col-xs-12" style="margin-top:2%">
        <div class="well well-sm well_noResult">
            No Results Found.
        </div>
    </div>
}