
@model HotelAdvice.Areas.Admin.ViewModels.HotelImagesViewModel

@{
    Layout = null;
}


@using (Ajax.BeginForm("Delete_HotelPhoto", "Hotel", new AjaxOptions
{
    HttpMethod = "Post"
    ,
    OnSuccess = "Success_AjaxReturn_deleteImage"
    ,
    InsertionMode = InsertionMode.ReplaceWith
}))
{
    @Html.AntiForgeryToken()

    <div id="modal_delete_image" class="modal fade modal_main" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-trash"></span> Delete Hotel
                    </h4>
                </div>
                <div class="modal-body">
                    Are you sure to delete?
                </div>
                <div class="modal-footer ">
                    @Html.BootstrapButton("Yes", "btn-default ", "", HtmlCommon.ButtonType.submit)
                    @Html.BootstrapButton("Cancel", "btn-default ", "", HtmlCommon.ButtonType.button, new { data_dismiss = "modal" })
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    @Html.HiddenFor(model => model.PhotoName)
    @Html.HiddenFor(model => model.HotelId)
}


