@model  HotelAdvice.Areas.WebSite.ViewModels.AdvancedSearchViewModel
@{
    Layout=null;
}

@using (Ajax.BeginForm("Advanced_Search", "SearchHotel", null, new AjaxOptions
    {
        HttpMethod = "Get"
        ,OnSuccess="SuccessAjax_AdvancedSearch"
    }))
{
<div class="well advanced_search col-xs-12">

    <div class="col-xs-12 nopadding">
        @Html.LabelFor(model => model.Hotel_Name)
        @Html.BootstrapTextBoxFor(model => model.Hotel_Name, "", "Hotel Name", "Hotel Name")
    </div>
    <div class="col-xs-12 nopadding top-buffer10">
        @Html.DropDownListFor(model => model.selected_city, new SelectList(Model.City_List, "Value", "Text"), new { @class = "form-control" })
    </div>


    <div class="divider_search col-xs-12"></div>
    @Html.LabelFor(model => model.Star1)

    @Html.AwesomeCheckBoxFor(model => model.Star5, "checkbox_star5"
                    , "<i class='fa fa-star fa-star-search fa-lg'></i><i class='fa fa-star fa-star-search fa-lg'></i><i class='fa fa-star fa-star-search fa-lg'></i><i class='fa fa-star fa-star-search fa-lg'></i><i class='fa fa-star fa-star-search fa-lg'></i>"
    , "checkbox-info")

    @Html.AwesomeCheckBoxFor(model => model.Star4, "checkbox_star4"
                    , "<i class='fa fa-star fa-star-search fa-lg'></i><i class='fa fa-star fa-star-search fa-lg'></i><i class='fa fa-star fa-star-search fa-lg'></i><i class='fa fa-star fa-star-search fa-lg'></i>"
    , "checkbox-info")

    @Html.AwesomeCheckBoxFor(model => model.Star3, "checkbox_star3"
                    , "<i class='fa fa-star fa-star-search fa-lg'></i><i class='fa fa-star fa-star-search fa-lg'></i><i class='fa fa-star fa-star-search fa-lg'></i>"
    , "checkbox-info")

    @Html.AwesomeCheckBoxFor(model => model.Star2, "checkbox_star2"
                    , "<i class='fa fa-star fa-star-search fa-lg'></i><i class='fa fa-star fa-star-search fa-lg'></i>"
    , "checkbox-info")

     @Html.AwesomeCheckBoxFor(model => model.Star1, "checkbox_star1"
     , "<i class='fa fa-star fa-star-search fa-lg'></i>"
     , "checkbox-info")

    <div class="divider_search col-xs-12"></div>

    <div class="col-xs-12 nopadding">
        @Html.LabelFor(model =>model.Guest_Rating)
    </div>
    <div class="col-xs-12 text-center hidden-xs">
        @*@Html.TextBoxFor(model => model.Guest_Rating, new { id = "slider_guest_review", Name = "slider_guest_review", @class = "form-control" })*@
        @Html.BootstrapTextBoxFor(model => model.Guest_Rating, "slider_guest_review")
    </div>

    <div class="divider_search col-xs-12"></div>


    <div class="col-xs-12 nopadding">
        @Html.LabelFor(model => model.Location)
    </div>
    <div class="col-xs-7 nopadding">
        @Html.DropDownListFor(model => model.distance_city_center, Model.Location, new { @class = "form-control" })
    </div>
    <div class="col-xs-5 nopadding_right top-buffer10">
        @Html.LabelFor(model => model.distance_city_center, new { @class = "text-small" })
    </div>

    <div class="col-xs-12 nopadding top-buffer10">
        <div class=" col-xs-7 nopadding">
            @Html.DropDownListFor(model => model.distance_airport, Model.Location, new { @class = "form-control" })
        </div>
        <div class="col-xs-5 nopadding_right top-buffer10">
            @Html.LabelFor(model => model.distance_airport, new { @class = "text-small" })
        </div>
    </div>

    <div class="divider_search col-xs-12"></div>


    <div class="col-xs-12 nopadding">
        @Html.LabelFor(model => model.lst_amenity)
    </div>
    <div class="col-xs-12 nopadding">
         @Html.AwesomeCheckboxGroupFor("lst_amenity", Model.lst_amenity, "checkbox-info", "checkbox_advance_search")
    </div>

    <div class="col-xs-12 top-buffer20">       
        @Html.BootstrapButton("<span class='glyphicon glyphicon-search'></span> Search Hotels", "btn-primary btn-responsive btn-block", "", HtmlCommon.ButtonType.submit)
    </div>
</div> @*END of WELL*@
 } 