@using PagedList;
@using PagedList.Mvc;
@model IPagedList<HotelAdvice.Areas.WebSite.ViewModels.HotelSearchViewModel>


        @for (int i=0; i < Model.Count; i++)
        {
            <div class="col-xs-12 nopadding">

                <div class="well well-result">

                    <div class="col-xs-3 nopadding" >
                        <a href="/SearchHotel/HotelDetails/@Model[i].HotelId" target="_blank">
                            <img src="~/Upload/@Model[i].HotelName/main.jpg" alt="Responsive image" onerror='this.onerror=null;this.src="../../Images/empty.gif"'
                                 class="img_result img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-9 nopadding">
                        <div class="col-xs-12 nopadding">
                            <div class="col-sm-5 col-xs-12">
                                <h4 style="font-weight:bold; margin:0">
                                    @Html.ActionLink(Model[i].HotelName, "HotelDetails", "SearchHotel"
                                , new { Area = "WebSite", id = Model[i].HotelId }, new { target = "_blank" })
                                </h4>
                                @Html.TextBox("txt_star_hotel", Model[i].HotelStars, new { @class = "HotelStars" })
                            </div>
                            <div class="col-sm-3 col-sm-offset-4 col-xs-8 col-xs-offset-3 nopadding">
                                @using (Ajax.BeginForm("AddToFavorite","User", new { hotel_id = Model[i].HotelId, sort = Request["sort"], page = Request["page"], city_id = Request["city_id"] }
                                    , new AjaxOptions
                            {
                                HttpMethod = "Post",
                                OnSuccess = "SuccessAjax_AddFavorit"
                            }))
                                {
                                    @Html.AntiForgeryToken()

                            <button class="btn btn-danger @(!(Model[i].is_favorite)?"btn-outline":"") btn-responsive btn-block"
                                    type="submit" title='@(Model[i].is_favorite ? "Remove from your wish list" : "Add to your wish list")'>
                                <i class="fa fa-heart fa-lg hidden-xs"></i> Like it!
                            </button>
                                }



                            </div>

                        </div>
                        <div class="col-xs-12">
                            visit website <i class="glyphicon glyphicon-hand-right"></i>
                            <a href="http://@Model[i].Website" target="_blank">@Model[i].Website</a>
                        </div>
                        <div class="col-xs-12 top-buffer10 text-justify HotelDescriotion">
                            @Model[i].Description
                        </div>
                        <div class="col-xs-12 nopadding top-buffer10">
                            <div class="col-sm-2 col-xs-12" >
                                @Html.TextBox("txt_rate_hotel", Model[i].GuestRating, new { @class = "GuestRating" })
                            </div>
                            <div class="col-sm-3 col-sm-offset-7 col-xs-9 col-xs-offset-3 nopadding" >
                                <a role="button" class="btn btn-primary btn-responsive btn-block"
                                   href="@Url.Action("AddReview", "SearchHotel", new { id = Model[i].HotelId, Area = "WebSite" })">
                                    Review <i class="glyphicon glyphicon-pencil hidden-xs"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            @Html.ActionLink(Model[i].num_reviews + " reviews", "HotelReviews", "SearchHotel"
                                , new { Area = "WebSite", id = Model[i].HotelId }, new { target = "_blank" })
                        </div>

                   </div>
                </div>
            </div>
         }



            @if (Model!=null && Model.PageCount > 1)
            {

                <div class="col-xs-12 text-center">
                    @Html.PagedListPager(Model, page => Url.Action("HotelResults"
             , new RouteValueDictionary(){ {"page", page}, {"sort" ,Request["sort"] }
               ,{"city_id",Request["city_id"]}
             })
               , PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                new PagedListRenderOptions
                {
                    DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                    DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                    LinkToFirstPageFormat = "First",
                    LinkToLastPageFormat = "Last",
                    MaximumPageNumbersToDisplay = 3,
                    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                    EllipsesFormat = "&#8230;"
                },
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "table_container",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "Success_paging_Results"
                }))
                </div>

            }






