@model HotelAdvice.ViewModels.HotelViewModel
@{
    ViewBag.Title = "About";
    Layout = null;
}
<html>
<head>
    <title></title>

    <style>
        .kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }

        .kv-avatar .file-input {
            display: table-cell;
            max-width: 220px;
        }
    </style>
  
</head>
<body >
    @Styles.Render("~/Content/AdminCss")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AdminPage")
    @Scripts.Render("~/bundles/StarRating")
   @using (Ajax.BeginForm("ADD_New_Hotel", "Home",null, new AjaxOptions
{
    HttpMethod = "Post"
    ,
    OnSuccess = "Success_AjaxReturn"
    ,
    InsertionMode = InsertionMode.ReplaceWith

}, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
        <div class="kv-avatar center-block" style="width:200px">
            @Html.TextBoxFor(model => model.PhotoFile, new { id = "image_hotel",name = "image_hotel", type = "file", @class = "file" })


            <button type="submit" onclick="submit_form()">Ok</button>
        </div>
        <!-- include other inputs if needed and include a form submit (save) button -->
   }


</body>
</html>

<script type="text/javascript">
        function submit_form() {
        
        $('#image_hotel').fileinput('upload');
        // atach to event 'filebatchuploadsuccess' then submit rest of form
    }
    


    $("#image_hotel").fileinput({
        uploadAsync: false,
        uploadUrl: "/Home/UploadFiles",// your upload server url
        overwriteInitial: true,
        maxFileSize: 1024,
        maxFileCount: 1,
        showClose: false,
        showCaption: false,
        browseLabel: 'Choose Image',
        browseClass: "btn btn-sm btn-success",
        removeClass: "btn btn-sm btn-danger",
        removeLabel: 'Delete Image',
        removeTitle: 'Delete Image',
        browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        elErrorContainer: '#kv-avatar-errors-1',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="/images/empty.gif" alt="Hotel Image" style="width:220px">',
        layoutTemplates: { main2: '{preview}  {remove} {browse}' },
        allowedFileExtensions: ["jpg", "png", "gif"],
        browseOnZoneClick: true,
        showZoom: false

    });
    </script>







