@model HotelAdvice.ViewModels.HotelViewModel
@{
    ViewBag.Title = "About";
    Layout = null;
}
@Styles.Render("~/Content/AdminCss")
<html>
<head>
    <title></title>

   

  
</head>
<body >

    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-apple"></i></span>
            @Html.TextBoxFor(model => model.restaurants, new
                                           {
                                               id = "txt_restaurant",
                                               @class = "form-control",
                                               @placeholder = "Enter Restaurants..."
                                               ,
                                               data_role = "tagsinput"
                                           })
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AdminPage")
</body>
</html>
<script type="text/javascript">
    $('#txt_restaurant').tagsinput({
        typeahead: {
            displayKey: 'CName',
            source: function (query, process) {
                var list_array = [];
                map = {};
                $.post('/Home/SearchList', { Prefix: query }, function (data) {


                    $.each(data, function (i, city) {
                        map[city.CName] = city;
                        list_array.push(city.CName);
                    });

                    // Process the details
                    process(list_array);

                });

            }
        },
        freeInput: true
    });

</script>






