@*@model List<HotelAdvice.ViewModels.CityViewModel>*@
@model MvcPaging.IPagedList<HotelAdvice.ViewModels.CityViewModel> 
@{
    ViewBag.Title = "City Management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="CityModal"></div>


<h2>City List</h2>

<div class="alert alert-success" role="alert" id="div_alert" style="display:none;">
    <a href="#" id="close_alert" class="close">&times;</a>
    <label id="alert_success" style="margin-right:5px"></label>
</div> 
<div class="form-group">
    <button type="button" class="btn btn-success" id="btn_add_newCity">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
    </button>
</div>



<div class="table-responsive" >

    
    <table id="mytable" class="table table-bordred table-striped table-hover">

       <thead>
          <tr>
              <th class="hidden">City ID</th>
              <th>City Name</th>
              <th>Attractions</th>
              <th>Actions</th>
          </tr>
       </thead>
        <tbody>
                
                
            @foreach (var item in Model)
            {
            <tr>
                <td class="hidden">@item.cityID</td>
                <td class="col-sm-2 cityName">@item.cityName</td>
                <td class="col-sm-9">@item.cityAttractions</td>
                <td>
                    <a data-toggle="tooltip" data-id="@item.cityID" title="Edit" class="glyphicon glyphicon-edit editItem"></a>
                    <a data-toggle="tooltip" data-id="@item.cityID" title="Delete" class="glyphicon glyphicon-trash deleteItem"></a>
                    <a data-toggle="tooltip" data-id="@item.cityID" title="FullShow" class="glyphicon glyphicon-search fullshowItem"></a>
                </td>
            </tr>
            }

         

    </table>

    <div class="clearfix"></div>
    <ul class="pagination pull-right">
        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
    </ul>

</div>
